- crumbtrail link_to UnitPresenter.unit_display_name(@unit), unit_path(@unit)
- crumbtrail link_to t('memberships.title_alt'), unit_memberships_path(@unit)
- crumbtrail @user.full_name

- content_for :title do
  = render partial: 'memberships/show/utilities' if @current_user_is_admin
  h1 = @user.full_name

= render partial: 'memberships/show/guardians' if @user.guardians.present?
= render partial: 'memberships/show/guardees' if @user.guardees.present?
= render partial: 'memberships/show/registrations'
