p Hi, #{ @recipient.first_name },

p This confirms that we've received #{ @event_registration.user.first_name }'s #{ @event_requirement.description } for #{ @event_requirement.event.name }.

p.fineprint Did you receive this in error? Be sure to let your #{ @event_registration.event.unit.type } administrator know so we can get your registration recorded correctly.
