- @event_requirement = @magic_link.magic_linkable
- @event = @event_requirement.event

h1 = @event_requirement.description

ul
  - @event_requirement.event_submissions.each do |submission|
    li = submission.user.full_name

p = link_to 'Download all as a single PDF'
p = link_to 'Download all as a single Zip file'
