- crumbtrail link_to UnitPresenter.unit_display_name(@unit), unit_path(@unit)
- crumbtrail t('events.title')

- content_for :title
  h1 = t('events.title')

= render partial: 'events/index/actions'
= render partial: 'events/index/utilities'
= render partial: 'events/index/list' unless @view == 'calendar'
= render partial: 'events/index/calendar' if @view == 'calendar'
