tr(class="registration #{registration.completed_for?(registration.user) ? 'completed' : 'incomplete'}")
  td.registrant-name     = registration.user.full_name
  td.registration-status = registration.completed_for?(registration.user) ? 'Complete' : 'Incomplete'
  td.action              = link_to('Details', event_event_registration_path(registration.event, registration))
