tr
  td = registration.user.full_name
  td = registration.completed_for?(registration.user) ? 'Complete' : 'Incomplete'
  td = link_to('Details', event_event_registration_path(registration.event, registration))
