- crumbtrail link_to UnitPresenter.unit_display_name(@unit), unit_path(@unit)
- crumbtrail link_to t('events.title'), unit_events_path(@unit)
- crumbtrail link_to @event.name, event_path(@event)
- crumbtrail @submission.event_requirement.description

- partial_name = @submission.event_requirement.type.underscore

= render partial: "event_submissions/#{ partial_name }"
