- crumbtrail link_to UnitPresenter.unit_display_name(@unit), unit_path(@unit)
- crumbtrail link_to t('events.title'), unit_events_path(@unit)
- crumbtrail link_to @event.name, event_path(@event)

- if @submission.event_requirement.present?
  - crumbtrail @submission.event_requirement.description
- else
  - crumbtrail 'Submit a Document'

- partial_name = @submission&.event_requirement&.type&.underscore || 'document_event_requirement'

= partial_name

= render partial: "event_submissions/#{ partial_name }"
