p #{ @magic_link.sender.full_name } from #{ UnitPresenter.unit_display_name(@unit) } sent you files. This link will remain active until #{ @tz.utc_to_local(@magic_link.expires_at).strftime('%l:%M %p on %b %e') }.

p = link_to 'Retrieve your files', @magic_link
