/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */


@import "bootstrap";

body {
  font-family: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ringside Regular SSm A', 'Ringside Regular SSm B', sans-serif;
}

.datepicker {
  font-family: 'Ringside Regular SSm A', 'Ringside Regular SSm B', sans-serif;
}

.btn-primary {
  background-color: rgb(182, 24, 24);
  border-color: rgb(182, 20, 20);
  min-width: 12rem;

  &:hover {
    background-color: rgb(172, 14, 14);
    border-color: rgb(162, 4, 4);
  }
}

a {
  color: rgb(182, 24, 24);
}
