/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */

@import "bootstrap";

// $color_brand: rgb(182, 24, 24);
// $color_brand: #F04A00; // GGB
$color_brand: #BA160C; // eng
$color_background: rgb(235, 233, 232);

body {
  font-family: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif;
  background-color: $color_background;
  padding-bottom: 30px;
}

.sidebar {
  background: #fff;
}

// h1, h2, h3, h4, h5, h6 {
//   font-family: 'Ringside Regular SSm A', 'Ringside Regular SSm B', helvetica, arial, sans-serif;
// }

h1 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -1px;
}

h4 {
  font-family: 'Ringside Regular SSm A', 'Ringside Regular SSm B', helvetica, arial, sans-serif;
}

.flash {
  font-family: 'Ringside Regular SSm A', 'Ringside Regular SSm B', helvetica, arial, sans-serif;
}

.datepicker {
  font-family: 'Ringside Regular SSm A', 'Ringside Regular SSm B', helvetica, arial, sans-serif;
}

.crumbtrail {
  font-family: 'Ringside Regular SSm A', 'Ringside Regular SSm B', helvetica, arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: darken($color_background, 50%);

  a {
    display: inline-block;
    padding: 1rem 0;
  }
}

.btn {
  font-weight: 700;
}

.btn-primary {
  background-color: rgb(182, 24, 24);
  border-color: rgb(182, 20, 20);
  min-width: 12rem;

  &:hover {
    background-color: rgb(172, 14, 14);
    border-color: rgb(162, 4, 4);
  }
}

a {
  color: $color_brand;
  outline: 0;

  &:hover {
    color: rgb(172, 14, 14);
  }
}

header#primary {
  @extend .container;
  max-width: 1332px;
  font-family: 'Ringside Regular SSm A', 'Ringside Regular SSm B', helvetica, arial, sans-serif;

  .dropdown-menu a {
    color: #333;
  }

  .utilities {
    float: right;

    .dropdown > a {
      display: inline-block;
      padding: 1rem;
    }
  }

  nav {
    ul {
      display: block;
      margin: 0 auto;
      padding: 0;
      display: inline-block;
      list-style: none;

      a {
        color: #333;
        font-weight: 600;
        display: inline-block;
        padding: 1rem;
        font-family: 'Ringside Regular SSm A', 'Ringside Regular SSm B', helvetica, arial, sans-serif;

        svg {
          margin-right: 0.3rem;
        }

        &:hover {
          text-decoration: none;
          color: $color_brand;
        }
      }

      li {
        display: inline-block;
      }
    }



    li:first-child a {
      padding-left: 0;
    }
  }
}

header#secondary {
  @extend .container;
  max-width: 1332px;
}

main {
  @extend .container;
  max-width: 1332px;
  background: #fff;
  padding: 3rem 6rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

// label {
//   font-family: 'Ringside Regular SSm A', 'Ringside Regular SSm B', helvetica, arial, sans-serif;
//   text-transform: uppercase;
//   font-size: 0.85rem;
//   font-weight: 300;
// }

#roster {
  tr.inactive {
    background: repeating-linear-gradient(
      -45deg,
      #fff,
      #fff 10px,
      #e4e4e4 10px,
      #e4e4e4 11px
    );
    text-decoration: line-through;
  }

  .rank {
    background-size: auto 22px;
    background-repeat: no-repeat;
    background-position: 12px 50%;
    padding-left: 40px;
  }

  @each $rank in scout, tenderfoot, second_class, first_class, star, life, eagle {
    .youth.rank_#{$rank} .rank {
      background-image: image-url("bsa/rank_#{$rank}");
    }
  }
}

@mixin active_link {
  color: #aaa;
  cursor: default;

  &:hover {
    text-decoration: none;
    color: #aaa;
  }
}

body.memberships.index {
  #unit-nav-roster {
    @include active_link;
  }
}

body.events.index {
  #unit-nav-events {
    @include active_link;
  }
}

td.event-requirement {
  text-align: center;
  // width: 2.5rem;
}

td.event-requirement.event-requirement-completed {
  color: $green;
  svg {
    display: inline-block;
  }
}

td.event-requirement.event-requirement-incomplete {
  svg {
    color: #aaa;
  }
}

.remove_fields {
  float: right;
  padding-top: 0.5rem;
}

aside {
  a.btn {
    width: 100%;
  }

  .card {
    margin-bottom: 15px;

    ul {
      margin-left: 0;
      padding-left: 0;
    }
  }
}

.card table.table {
  // margin-bottom: 30px;
  // background-color: #fff;
  // border: 1px solid #e8e8e8;
  // border-radius: 4px;

  margin-bottom: 0;

  tr:first-child {
    th {
      border-top: none;
    }
  }
}

.registration {
  .completion-glyph {
    display: none;
    margin-right: 0.5rem;
  }

  &.registration-completed {
    color: $green;

    .completion-glyph {
      display: inline-block;
    }
  }
}

h3.inline {
  display: inline-block;
  margin-right: 8px;
}

.badge {
  font-family: 'Ringside Regular SSm A', 'Ringside Regular SSm B', helvetica, arial, sans-serif;
}

table.checklist {
  tr.name {
    td {
      border-top-color: #000;
      border-top-width: 2px;
    }
    td.name {
      font-weight: 600;
    }
  }
}

.card .table {
  tr:first-child {
    td {
      border-top: none;
    }
  }
}

.card-header {
  background: darken($color_background, 30%);
  border-color: darken($color_background, 30%);
  color: #fff;
  font-weight: 600;

  .badge {
    background: #fff !important;
    color: darken($color_background, 50%);
  }
}

.admin.dropdown {
  position: absolute;
  top: 15px;
  right: 15px;

  a.glyph {
    display: inline-block;
    text-align: center;
    border: 1px solid darken($color_background, 30%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;

    svg {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }

  svg {
    color: $color_brand;
    margin-right: 0.5rem;
  }
}

ul.documents {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin: 1rem;
    width: 25%;
    float: left;
    // text-align: center;

    img {
      border: 1px solid #ddd;
      box-shadow: 0, 0, 5px, 5px, rgba(0, 0, 0, 0.1);
      margin-bottom: 1rem;
    }
  }
}

ul.roster {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin: 0.5rem;
    width: 90px;
    height: 90px;
    float: left;

    .avatar {
      width: 100%;
      padding-top: 100%;
      border-radius: 50%;
      background-color: #ddd;
      background-size: contain;
      position: relative;
      text-align: center;
    }

    &.avatar-attached {
      .name {
        display: none;
      }
    }

    .name {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 12px;
      font-weight: 600;
    }

    img {
      border: 1px solid #ddd;
      box-shadow: 0, 0, 5px, 5px, rgba(0, 0, 0, 0.1);
      margin-bottom: 1rem;
      width: 100%;
      height: 100%;
    }
  }
}

$colors: (
  'PALEGREEN', 'PALETURQUOISE', 'KHAKI', 'DARKKHAKI', 'PLUM', 'CORNFLOWERBLUE', 'BLANCHEDALMOND',
  'DEEPSKYBLUE', 'SKYBLUE', 'LIGHTBLUE', 'LIGHTSTEELBLUE', 'LIGHTGREEN', 'THISTLE', 'LIGHTSALMON',
  'ANTIQUEWHITE', 'LAVENDERBLUSH', 'MISTYROSE', 'WHEAT', 'BISQUE', 'AQUAMARINE', 'MEDIUMTURQUOISE'
);

@for $i from 1 through length($colors) {
  li.roster-variation-#{$i} .avatar { background-color: #{nth($colors, $i)} !important; }
}

section {
  margin-bottom: 4rem;
}

ul.message-list {
  list-style: none;
  padding-left: 0;
}

li.message {
  .primary {
    background-color: lighten($color_background, 5%);
    border: 1px solid lighten($color_background, 0%);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-left: 4rem;
  }

  .author, .timestamp {
    display: inline;
  }

  .author {
    font-weight: 600;
  }

  .timestamp {
    margin-left: 0.5rem;
    color: #666;
  }

  .body {
    margin-top: 0.8rem;

    p:last-child {
      margin-bottom: 0;
    }
  }
}

td.attendees, th.attendees {
  text-align: right;
}

table.calendar {
  table-layout: fixed;
  line-height: 1.0;

  th {
    padding: 0.2rem;
  }

  td {
    padding: 0.5rem 0;

    &.today {
      .date {
        background-color: $color_brand;
        color: #fff;
      }
    }

    &.day-cell {
      height: 10rem;
    }
  }

  .header {
    margin-bottom: 0.2rem;
  }

  .month {
    margin-right: 0rem;
    color: $color_brand;
    display: inline-block;
    padding: 0.2rem;
    position: relative;
    top: -6px;
  }

  .date {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    // margin-bottom: 0.2rem;

    span {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .event {
    display: block;
    color: #666;
    background-color: $color_background;
    white-space: nowrap;
    overflow-x: hidden;
    font-size: 12px;
    width: 100%;
    margin: 1px 0;
    padding: 4px 0.5rem;
    font-family: 'Ringside Regular SSm A', 'Ringside Regular SSm B', helvetica, arial, sans-serif;

    span {
      display: none;
    }

    &.attending {
      background-color: lighten($color_brand, 0%);
      color: #fff;
    }

    &.start {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      margin-left: 2px;

      span {
        display: inline-block;
      }
    }

    &.ends {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      margin-right: 2px;
    }
  }
} // table.calendar

ul.requirements, ol.requirements {
  li {
    padding-bottom: 1rem;

    input[type="checkbox"] {
      margin: 0 0.5rem 0 3rem;
    }

    label {
      display: inline;
      // margin-left: 3rem;
    }
  }
}

.custom-checkbox .custom-control-input ~ .custom-control-label {
  &::before {
    margin-top: -2px;
    margin-left: 0.2rem;
    margin-right: 1rem;
  }

  &::after {
    margin-top: -2px;
    margin-left: 0.2rem;
    margin-right: 1rem;
  }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label {
  &::before {
    background-color: $color_brand;
  }
}

body.events.index {
  #nav-item-events a {
    color: $color_brand;
    cursor: default;
  }
}

body.document_library_items.index {
  #nav-item-documents a {
    color: $color_brand;
    cursor: default;
  }
}

body.memberships.index {
  #nav-item-roster a {
    color: $color_brand;
    cursor: default;
  }
}


.progress {
  display: inline-block;
  height: 12px;
  border-radius: 6px;
  width: 100%;
  background-color: lighten($color_background, 0%);
}
